.breadcrumb-inner {
  padding: 2rem 0;
  display: flex;
  gap: 2rem;

  h6 {
    font-size: 1.6rem;
    font-weight: normal;
  }
}
.breadcrumb {
  background: #f2f2f2;
}

.link-block {
  display: flex;
  gap: 0.8rem;
  align-items: center;

  &.faded {
    opacity: 0.6;
  }
}
