.footer {
  background: $base-grey;
  padding: 2rem 0;

  h2 {
    font-size: 1.6rem;

    span {
      color: $base-green;
      cursor: pointer;

      transition: 0.4s all ease;
      &:hover {
        color: rgb(3, 102, 76);
        transition: 0.4s all ease;
      }
    }

    a {
      color: $base-green;
    }
  }
}
