ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $text-black;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
li,
label,
input,
textarea,
th,
td {
  font-family: $font-family;
}

.container {
  max-width: 150rem;
  padding: 0 4rem;
  margin: 0 auto;
}

body {
  min-height: 100vh;
  position: relative;
}

button:disabled {
  background: #e5e5e5 !important;
  pointer-events: none;
  transition: 0.4s all ease;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: url("../icons/calendar.svg") no-repeat;
  border-width: thin;
}

input::placeholder {
  color: rgba(195, 195, 195, 0.5);
}
