.lines-block {
  position: relative;
  width: 3rem;
  height: 2rem;
  transform: rotate(0deg);
  transition: all 0.3s ease;

  &::after {
    opacity: 0;
    display: block;
    content: "";
    left: 0;
    border-radius: 0.5rem;
    position: absolute;
    background: $base-green;
    height: 0.261rem;
    width: 3rem;
    transform: rotate(0deg);
    transition: all 0.3s ease;
  }

  .lines {
    left: 0;
    border-radius: 0.5rem;
    position: absolute;
    background: $base-green;
    height: 0.26rem;
  }

  .line-1 {
    top: 0;
    width: 3rem;
  }

  .line-2 {
    transform: rotate(0deg);
    top: 50%;
    width: 2rem;
    transition: all 0.3s ease;
  }

  .line-3 {
    top: 100%;
    width: 3rem;
  }

  &.active {
    transform: rotate(90deg);
    transition: all 0.3s ease;

    &::after {
      opacity: 1;
      left: -48%;
      top: 0.9rem;
      transform: rotate(-90deg);
      transition: all 0.3s ease;
    }

    .line-1 {
      height: 0.3rem;
      top: -23%;
      transition: all 0.3s ease;
    }

    .line-3 {
      height: 0.3rem;
      top: 116%;
    }

    .line-2 {
      top: 46%;
      width: 3rem;
      left: 50%;
      transform: rotate(-90deg);
      transition: all 0.3s ease;
    }
  }
}

.nav {
  .line {
    width: 100%;
    border-top: 0.2rem solid $base-grey;
  }
  padding-bottom: 5rem;
}

.nav-inner {
  padding: 3rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.nav__left {
  justify-self: left;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-logo {
  display: block;
  width: 12.4rem;
  height: 6rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.nav-title {
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 2.8rem;
    color: $base-green;
  }

  h4 {
    font-size: 1.6rem;
    color: $text-black;
    font-weight: normal;
  }
}

.nav__right {
  justify-self: right;
  align-self: center;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.language {
  position: relative;
  cursor: pointer;
  padding: 1rem;
  border-radius: 1rem;
  background: transparent;
  transition: 0.4s all ease;

  &.active {
    background: rgba(192, 192, 192, 0.733);
    transition: 0.4s all ease;
  }

  .lang-wrapper {
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }
}

.lang-img {
  width: 2rem;
  height: 2rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.lang-arrow {
  transform: rotateZ(0deg);
  transition: 0.4s all ease;

  &.active {
    transform: rotateZ(180deg);
    transition: 0.4s all ease;
  }
}

.lang-text {
  font-size: 1.6rem;
  font-weight: normal;
}

.lang-el {
  text-align: center;
  width: 100%;
  font-size: 1.6rem;
  padding: 1rem 2rem;
  justify-content: center;
  background: transparent;
  transition: 0.4s all ease;

  &:hover {
    background: rgba(192, 192, 192, 0.733);
    transition: 0.4s all ease;
  }
}

.lang-dropdown {
  z-index: 10;
  border-radius: 1rem;
  background: rgb(219, 219, 219);
  position: absolute;
  top: calc(100% + 1rem);
  left: 0;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: 0.4s all ease;

  &.active {
    max-height: 15rem;
    transition: 0.4s all ease;
  }
}

// LOGGED ON
.logged-nav {
  padding-bottom: 0;

  .spinner {
    height: 3rem;
    width: 3rem;
  }
}

.nav-menu {
  cursor: pointer;
  margin-right: 1rem;
}

.user {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 1.4rem 2.6rem;
  border: 0.1rem solid rgba(229, 229, 229, 1);
  border-radius: 0.5rem;

  h4 {
    font-size: 1.6rem;
    font-weight: normal;
  }
}

.user-img {
  width: 2rem;
  height: 2rem;

  img {
    width: 100%;
    height: 100%;

    object-fit: contain;
  }
}

.user {
  position: relative;

  .user-dropdown {
    border-radius: 1rem;
    ul {
      display: flex;
      flex-direction: column;

      li {
        padding: 1rem;
        background: transparent;
        transition: 0.4s all ease;
        &:hover {
          background: #bebebe;
          transition: 0.4s all ease;
        }
      }
    }
    a {
      font-size: 1.4rem;
      text-align: center;
      display: block;
    }

    background: #dbdbdb;
    z-index: 250;
    position: absolute;
    right: 0;
    top: calc(100% + 0.6rem);
    width: 100%;
    overflow: hidden;
    max-height: 0;
    transition: 0.4s all ease;
  }

  &.active {
    background-color: #c7c7c7;
    transition: 0.4s all ease;
    .user-dropdown {
      max-height: 15rem;
      transition: 0.4s all ease;
    }
  }
}

.sign-out-btn {
  font-size: 1.4rem;
  text-align: center;
  display: block;
  border: none;
  background: none;
  width: 100%;
  height: 100%;
}

// MEDIA

@media screen and (max-width: 1000px) {
  .nav-title {
    display: none;
  }
  .logged-nav {
    .nav__left {
      width: 100%;
      display: grid;
      grid-template-columns: 0.1fr 1fr;
      gap: 0;
    }
    .nav-logo {
      justify-self: center;
    }
    .nav-inner {
      grid-template-columns: 1fr 0.1fr;
      gap: 0;
    }
    .nav__right {
      gap: 1rem;
    }
    .lang-text,
    .lang-arrow {
      display: none;
    }

    .user {
      border: none;
      padding: 1rem;
      h4,
      .user-arrow {
        display: none;
      }

      .user-dropdown {
        width: 15rem;
        right: 0;
      }
    }
    .lang-dropdown {
      width: 10rem;
      left: unset;
      right: 0;
    }

    .nav-logo {
      width: 8.267rem;
      height: 4rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .logged-nav {
    .language {
      padding: 0;
    }
    .user {
      padding: 0;
    }
  }
  .sign-top {
    text-align: center;
    font-size: 2.2rem;
  }
}
