.profile-title {
  font-size: 2.2rem;
  margin-bottom: 2rem;
}

.profile-inner {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  input {
    background: #f2f2f2;
  }

  .form-bottom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
}

.profile-title {
  button {
    padding: 1.8rem 3rem;
    max-width: 26.2rem;
  }
}

// MEDIA

@media screen and (max-width: 1200px) {
  .profile-inner .form-bottom {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 900px) {
  .profile-inner .form-bottom {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 700px) {
  .profile-inner {
    padding-top: 3rem;
  }
}

@media screen and (max-width: 500px) {
  .profile-inner .form-bottom {
    grid-template-columns: repeat(1, 1fr);
  }
}
