.home {
  display: grid;
  grid-template-columns: auto 1fr;
  transition: 0.4s all ease;
  min-height: 100vh;
}

.side-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.side {
  height: 100%;
  max-width: 0rem;
  min-width: 0rem;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  transition: 0.4s all ease;

  &.active {
    max-width: 40rem;
    transition: 0.4s all ease;
  }
}

.side-title {
  background: $dark-green;
}

.side-inner {
  max-width: 40rem;
  background: $base-green;
  ul {
    display: flex;
    flex-direction: column;
    li {
      position: relative;
      border-bottom: 0.1rem solid $dark-green;

      &::before {
        pointer-events: none;
        width: 0.6rem;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        content: "";
        background: rgba(255, 255, 255, 1);
        opacity: 0;
        transition: 0.4s all ease;
      }

      &.active {
        &::before {
          opacity: 1;
          transition: 0.4s all ease;
        }
      }
    }
    h2,
    a,
    button {
      width: 100%;
      cursor: pointer;
      border: none;
      background: transparent;
      display: flex;
      gap: 1.6rem;
      font-size: 1.6rem;
      color: #fff;
      padding: 2.9rem 5rem;
      font-weight: normal;
      span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    h2 {
      background: $dark-green;
      cursor: default;
    }
  }
}

.side-footer {
  margin-top: 3rem;
  display: flex;
  align-items: flex-end;
  gap: 1.6rem;
  padding: 2rem 5rem;
  background: $dark-green;

  span {
    font-size: 1.6rem;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.side-wrapper {
  height: 100%;
}

.side-top-li {
  display: flex;
  background: $dark-green;
  align-items: center;
  padding-right: 3rem;
}
.side-quit {
  display: none;
  cursor: pointer;
}
// MEDIA

@media screen and (max-width: 1500px) {
  body {
    overflow-x: hidden;
  }
  .side.active {
    min-width: 30rem;
    transition: 0.4s all ease;
  }
  .side-inner ul h2,
  .side-inner ul a,
  .side-inner ul button {
    padding: 2.9rem 3.5rem;
  }
}

@media screen and (max-width: 1300px) {
  .side-quit {
    display: block;
  }
  .home {
    grid-template-columns: 1fr;
  }

  .side {
    max-width: 100vw;
    width: 100%;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;

    &.active {
      max-width: 0;
      min-width: unset;
    }
  }

  .side-wrapper {
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
}
